# Z18 board configuration

# Copyright (c) 2021 Eric Lau
# SPDX-License-Identifier: MIT

config BOARD_Z18_KEYBOARD
	bool "Z18_KEYBOARD"
	depends on SOC_NRF52840_QIAA

config BOARD_Z18_DONGLE
	bool "Z18_USB"
	depends on SOC_NRF52840_QIAA
